@font-face {
  font-family: opensans-bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: opensans-light;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: opensans-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}
/******* header *******/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
body {
  font-family: "opensans-light";
  margin: 0px;
}
.logo {
  width: auto;
  float: left;
  .site-logo {
    img {
      max-width: 175px;
    }
  }
}
#header,
#main-wrapper,
#footer,
#page-wrapper,
.item-list {
  width: 100%;
  float: left;
}
ul {
  margin-top: 0px;
}
#logo {
  float: left;
  position: absolute;
}
#logo img {
  height: 34px;
  width: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#content {
  position: relative;
}
#navigation {
  padding: 15px 0;
  border-bottom: solid 4px rgba(255, 255, 255, .8);
  width: 100%;
  z-index: 1000;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #0db4e9;
  float: left;
  height: 69px;
}
nav {
  display: block;
}
.menu {
  float: right;
  margin-bottom: 0;
}
.menu li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 2px;
  list-style-type: none;
}
.menu-item--expanded {
  &:hover {
     .caret {
        transform: rotate(180deg);
     }
  }
  .caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    display: inline-block;
    transform: rotate(0deg);
  }
}
#navigation .menu a {
  color: #fff;
  text-decoration: none;
}
/**site name and slogan**/
.site-slogan-name {
  margin-bottom: 20px;
}
#site-name {
  margin: 0px;
}
/****************mobile ****/
.mean-nav {
  display: none;
}
.mean-close {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  padding: 0px 4px 0px 0px !important;
  margin-top: 2px;
}
.container .mean-nav ul {
  background-color: #0db4e9;
}
/*** form *****/
.form-text , .form-search {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0px;
  text-indent: 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-submit:hover {
  cursor: pointer;
}
.form-submit {
  background-color: #82b440;
  padding: 10px 18px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
}
#edit-cancel {
  background-color: #82b440;
  padding: 9px 16px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 13px;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid red;
}
.search-form .form-submit {
  margin-top: 1em;
}
#search-block-form .form-submit {
  margin-top: 1em;
}
/******* article ***/
.black {
  color: #000;
}
a {
  text-decoration: none;
}
.col-100 {
  width: 100%;
}
.float_left {
  float: left;
}
img {
  max-width: 100%;
  height: auto;
}
/**** pager ****/
.pager .pager__items {
  width: 100%;
  float: left;
  padding: 15px 0px;
}
.pager .pager__items .is-active {
  background: #008cba;
  color: #ffffff;
  cursor: default;
  font-weight: bold;
  border-radius: 3px;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  padding: 0px 5px;
}
.pager .pager__items li a {
  color: #999999;
}
.pager .pager__items .is-active a {
  color: #ffffff;
}
.pager .pager__items .pager__item:hover {
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  background: #e6e6e6;
  color: #999999;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  padding: 0px 5px;
}
.pager .pager__items li {
  padding: 0 5px;
  margin: 0 0 0.25em 1.5em;
}
/***** footer ****/
#footer {
  font-size: .9em;
}
.footer-col {
  padding: 20px;
}
.section-full-colored,
.section-full-colored a {
  color: #fff;
}
.section-full-colored .section-content {
  background-color: #82b440;
}
#footer .section-content {
  padding: 50px 20px;
  width: 100%;
}
.center {
  text-align: center;
}
.section.with-arrow:before {
  z-index: 11;
}
.section.with-arrow {
  position: relative;
  z-index: 10;
}
.with-arrow:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  z-index: 999;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
select {
  height: 34px;
  padding: 6px 0px;
  text-indent: 0px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.filter-wrapper {
  border: 1px solid #bbb;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  text-indent: 12px;
}
.calendar {
  height: 17px;
  width: 25px;
  background: url("../images/Calender.png");
  float: left;
  background-repeat: no-repeat;
  background-position: 1px 2px;
}
.paddingt {
  padding: 0px 0px 20px 0px;
}
.padding {
  padding: 20px;
}
.grayborder {
  border: 1px solid #d8d8d8;
}
.border_radius {
  border-radius: 5px;
}
.margin_bottom {
  margin-bottom: 20px;
}
.margint_none {
  margin-top: 0px;
}
.box_shadow {
  box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
}
#footer-columns {
  margin-bottom: 1em;
}
/***************** breadcrump ***/
.breadcrumb {
  padding-bottom: 0px;
}
a {
  color: #009fda;
}
.breadcrumb ol li:first-child a {
  background-image: url("../images/home.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  padding-left: 1.5em;
}
.breadcrumb ol {
  margin-bottom: 1em;
}
.breadcrumb ol li {
  display: inline-block;
}
.breadcrumb ol li:last-child:after {
  content: none !important;
}


/***** tabs ***/
.himalaya-tabs ul li .is-active  {
  position: relative;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  border-color: #dcddde;
  margin-bottom: -1px;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px 5px 0 0;
}
.himalaya-tabs ul li a {
  background-color: transparent;
  border-color: #dcddde;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
}
.himalaya-tabs ul {
  border-bottom: 1px solid #dcddde;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}
.himalaya-tabs ul li {
  list-style-type: none;
  display: inline-block;
}
/**** node ***/
ul.inline li {
  padding: 0 0.5em 0 0;
}
ul li.node-readmore {
  padding-right: 1.5em;
}
ul li.comment-add,
ul li.comment-delete,
ul li.comment-edit,
ul li.comment-reply,
ul li.comment-comments {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
ul li.comment-add {
  background: url("../images/comment.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-delete {
  background: url("../images/delete.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-edit {
  background: url("../images/edit.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-reply {
  background: url("../images/reply.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
ul li.comment-comments {
  background: url("../images/comments.png");
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
.node .submitted-by {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}
.node .submitted-by .user-picture,
.comment .user-picture {
  float: right;
}
.comment h3 {
  margin-top: 0px;
}
.node .submitted-by .user-picture img,
.comment .user-picture img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #d8d8d8;
}
.node .submitted-by .submitted-by-innerwrap {
  display: inline-block;
  vertical-align: middle;
}
.profile .user-picture {
  margin: 2em 1em 1em 0;
}
.comment .new {
  float: right;
  margin-right: 20px;
}
.comment {
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 22px -26px rgba(0,0,0,0.75);
}
.indented {
  margin-left: 25px;
}
/**  search form ***/
.search-block-form input.form-search {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  padding: 0;
}
.search-block-form .form-wrapper {
  margin-top: 0em;
}
/*** block ***/
#sidebar {
  .container-inline,
  .block {
    width: 100%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    h2 {
      margin: 0px 0px 5px 0px;
      border-bottom: 1px solid #d8d8d8;
      padding: 0px 0px 10px 0px;
    }
  }
}
.help-wrapper .block {
  border: 1px solid #d8d8d8;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.header-region .container-inline {
  padding: 20px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  float: left;
}
/****** message ******/
.message .messages {
  margin-bottom: 20px;
}
div.error {
  background-color: #ffecec;
  border: 1px solid #f5aca6;
  border-radius: 5px;
}
div.status {
  background-color: #e9ffd9;
  border: 1px solid #a6ca8a;
  border-radius: 5px;
}
div.warning {
  border-radius: 5px;
}
/*****  table *****/
table {
  position: relative;
  display: block;
  overflow-x: auto;
  max-width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
table th {
  cursor: auto;
  background-color: rgba(0,0,0,.06);
  text-align: left;
  color: rgba(0,0,0,.8);
  padding: 1em .7em;
  border: none;
  vertical-align: middle;
  border-bottom: 1px solid #d8d8d8;
}
table td {
  padding: .5em .5em;
  vertical-align: middle;
  background: transparent;
}
tr.even,
tr.odd {
  border-bottom: 0px;
}
tbody {
  clear: both;
  outline-width: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background: transparent;
  outline-style: solid;
  vertical-align: baseline;
}
table th:first-child {
  border-radius: 5px 0 0;
}
table th:last-child {
  border-radius: 0 5px 0 0;
}
tr.odd {
  background: transparent;
}
/***** li ****/
.item-list ul li,
ul li {
  list-style-type: circle;
}
/** login **/
.contextual-region .contextual .contextual-links a,
.contextual .contextual-links a {
  background-color: #fff;
  color: #333;
  display: block;
  font-family: sans-serif;
  font-size: small;
  line-height: 0.8em;
  margin: 0.25em 0;
  padding: 0.4em 0.6em;
}
.contextual .contextual-links {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px 0 4px 4px;
  clear: both;
  float: right;
  margin: 0;
  padding: 0.25em 0;
  position: relative;
  right: 6px;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  list-style-type: none;
}
.contextual .contextual-links li {
  list-style-type: none;
}
#block-himalaya-local-tasks > ul li {
  display: inline-block;
  list-style-type: none;
}
#block-himalaya-local-tasks {
  margin-bottom: 3em;
}
#block-himalaya-local-tasks > ul li a {
  color: #333;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  padding: 0px 15px;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
}
#block-himalaya-local-tasks > ul li .is-active {
  padding: 1px 15px;
}
#block-himalaya-local-tasks > ul {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: -1px;
}
.menu > li:hover .sub-menu-himalaya {
  display: block !important;
}
.sub-menu-himalaya {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #0db4e9;
  display: none;
  margin: 0;
  padding: 0;
}
.menu.sub-menu-himalaya li {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 0;
}

.region-footer-first,.region-footer-second,.region-footer-third,.region-footer-fourth {
  padding: 20px;
}
